# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.poetry/
poetry.lock

# IDE
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/CopilotChatHistory.xml
.idea/CopilotChatTabs.xml
*.iws
*.iml
*.ipr
.idea/*

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Application Logs ###
*.log
app.log
logs/

### Upload Files ###
uploads/

### docker
/volumes
/server.pid
data/

### Environment
.env
RESUME.md
